# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env

# Logs
*.log

# Alembic migration files
alembic/versions/*.pyc
alembic/versions/*.pyc.bak